doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='description' content='React Test')
        meta(name='viewport' content='width=device-width, minimum-scale=1.0')
        title React Test
        link(rel='stylesheet' href='/node_modules/bootswatch/sandstone/bootstrap.css')
        link(rel='stylesheet' href='/node_modules/font-awesome/css/font-awesome.css')
        link(rel='stylesheet' href='main.css')
    body
        div(id='example')
        script(src='/node_modules/react/dist/react.js')
        script(src='/node_modules/react-dom/dist/react-dom.js')
        script(src='/node_modules/jquery/dist/jquery.js')
        script(src='/node_modules/bootstrap/dist/js/bootstrap.js')
        script(src='/node_modules/three/three.js')
        script(src='ngen/ngen.js')
        script(src='/bundle.js')
