script(src='/views/asset_navigator/asset_navigator-compiled.js')
script(src='/components/emitter/emitter-compiled.js')
script(src='/components/emitter_explorer/emitter_explorer-compiled.js')
script(src='/components/tool_glyph_icon/tool_glyph_icon-compiled.js')
script(src='/components/preview_window/preview_window-compiled.js')
script(src='/components/preview_container/preview_container-compiled.js')
script(src='/components/property/property-compiled.js')
script(src='/helloworld-compiled.js')
